@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.darkmode {
  background-color: #012b40 !important;
  color: #e4e4e4 !important;
}
.darkmode h1 {
  color: #7f6eff !important;
}
.darkmode h2 {
  color: #685af8 !important;
}
